:root {
    --bg-color: #003049;
    --text-color: #eae2b7;
    --green-color : #038236;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.wrapper {
    width: 605px;
    border: 2px solid var(--text-color);
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}
.wrapper .content {
    margin: 35px 0;
}
.content .qoute-wrapper {
    display: flex;
    justify-content: center;
}
.qoute-wrapper .qoute{
    font-size: 22px;
    color: var(--text-color);
    text-align: center;
    word-break: break-all;
}
.qoute-wrapper i {
    font-size: 15px;
    color: var(--text-color);
}
.qoute-wrapper i:first-child{
    margin: 3px 10px 0 0;
}
.qoute-wrapper i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}
.content .author {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.content .author span {
    color: var(--text-color);
}
.content .author .name {
    color: var(--text-color);
}
.wrapper .buttons {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
.buttons .features{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features ul {
    display: flex;
}
.features ul li {
    list-style: none;
    margin: 0 5px;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color);
    border-radius: 50%;
}
.features ul li i {
    color: var(--text-color);
    cursor: pointer;
}
.features ul li:hover {
    border: 2px solid var(--green-color);
}
.features .next {
    background: none;
    outline: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding:  10px;
    border-radius: 8px;
    cursor: pointer;
}
.features .next:hover {
    border: 2px solid var(--green-color);
}

@media (max-width:680px) {
    .wrapper {
        width: 300px;
        padding: 10px 15px;
    }
    .qoute-wrapper .qoute {
        font-size: 20px;
    }
    .features ul li {
        height: 30px;
        width: 30px;
    }
}